/build
/vendor
/composer.lock
/composer.phar
/.idea
Gemfile.lock
maze_output
*.log
.phpunit.result.cache
/features/fixtures/*/bugsnag-laravel
/features/fixtures/laravel-latest/*
!/features/fixtures/laravel-latest/.gitignore
bugsnag-laravel.iml
.zscaler-root-ca.pem
.gitleaks.toml
.pre-commit-config.yaml
.gitleaks-baseline.json

/node_modules
/public/hot
/public/storage
/storage/*.key

.env
.env.backup
.env.production
.env.local

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

/public/build
/public/mix-manifest.json
/public/js
/public/css

/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.DS_Store
Thumbs.db

coverage/
.phpunit.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

docker-compose.override.yml

/.docker

*.cache

*.swp
*.bak

database/*.sqlite

/public/docs

*.pem
!.zscaler-root-ca.pem
!.zscaler-root-ca.pem*
*.crt
